
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: rgb(32, 32, 32);
    position: relative;
}

header{
    position: sticky;
    top: 0;
    margin-bottom: 3vw;
    z-index: 1000;
    box-shadow: 0 1px .3rem 0 rgba(0, 0, 0, 0.5);
    height: 5rem;
    backdrop-filter: blur(1.5rem);
    background-color: rgba(32, 32, 32, 0.486);
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    height: 100%;
    
    padding-left: 2.5vw;
    
}

.hitems{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
a{
    color: rgb(167, 167, 167);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
    transition: all 0.15s ease;
}
a:hover{
    transform: scale(1.3);

}
main{
    margin: 2vw;
    padding: 1rem;
    
}
.intro::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(https://i.redd.it/ndhdiurwmrgy.png); /* Replace with your image */
  filter: blur(2rem);
  background-size: contain; /* Adjust as needed */
  opacity: 0.5; /* Adjust opacity */
  z-index: -1;
  
}
    

.intro{
    background-color: rgba(44, 44, 44, 0.349);
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(1rem);
    box-shadow: 0 1px .5rem 0 rgba(0, 0, 0, 0.527);
    transition: all 0.15s ease;
    margin-bottom: 5vw;
}
.intro:hover{
    transform: scale(1.05);
   
}
.intro .name h2{
    color: rgb(228, 228, 228);
    font-size:clamp(4rem,9vw,9vw);
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
    padding: 1vw;
    position: relative;
    right: 0;
    
}
.intro .name p{
    color: rgb(166, 166, 166);
    font-size: clamp(1.5rem,2vw,2vw);
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
    
}
.intro .photo img{
    height: clamp(155px,20vw,20rem);
    border-radius: 1rem;
    padding-top: 2rem;

}
.profile{
    display: flex;
    justify-content: center;
}
.profile div{
    height: clamp(15rem,25vw,25vw);
    width: clamp(15rem,25vw,25vw);
    border-radius: 35vw;
    margin-top:2vw ;
    overflow: hidden;
    box-shadow: 0px 1px 0.5rem ;

}
.profile div img{
    width: 100%;
}
.bab{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
}
.babheading{
    font-size: clamp(1.5rem,5vw,5rem);
    font-weight: 900;
    padding: 2rem;
    color: #acacac;
    margin-top: 2rem;
}
.babin p{
    font-size: 1rem;
    color: #a0a0a0;
    padding: 2rem;
    padding-top: 0;
}
.detailcards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: rgb(43, 43, 43);
    color: rgb(172, 172, 172);
    box-shadow: 0 1px .3rem 0 rgba(0, 0, 0, 0.5);
}
.Journey, .Personality ,.family{
    padding: 1rem;
    margin: 1rem;
    height: 30rem;
    overflow-x: hidden;
    scrollbar-gutter: none;
    background-color: rgb(58, 58, 58);
    border-radius: 1rem;
    box-shadow: 0 1px .3rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}
.Journey:hover, .Personality:hover ,.family:hover{
    transform: scale(1.05);

}
.family::-webkit-scrollbar {
    background: rgb(43, 43, 43);
    width: 4px;
}

.family::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}
.Journey h3, .Personality h3,.family h3{
    margin-bottom: 1.5rem;
    color: #e8e7e7;
}
.family h4{
    color: #b7b7b7;
    line-height: 2.5rem;
}
.crew{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,3fr));
    gap: 5vw;
    
    margin-top: 3rem;
    padding: 1rem;
}
.crewcard{
    height: 60vh;
    background-color: #282828;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1px .3rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease;
}
.crewcard:hover{
    transform: scale(1.05);

}

.crewimage img{
    width:100%;
}
.crewimage{
    height: 80%;
    overflow: hidden;
    box-shadow:  0 1px 0.3rem rgba(0, 0, 0, 0.603);
    transition: all 0.15s ease;
}
.crewimage:hover{
    transform: scale(1.05);

}
.crewname{
    color: #e0e0e0;
    padding-left: 1rem;
    padding-top: 0.8rem;
    font-size: 1.5rem;
}
.crewdetails{
    color:#b7b7b7;
    padding-left: 1rem;
    font-size: 1rem;
}
.qoutes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
    padding: 2vw;

}
.q{
    width: 65vw;
    margin: 2vw;
}
.q .say , .mq{
    color: #e8e7e7;
    font-family: "Meie Script", cursive;
    font-size: clamp(20px, 2vw, 24px)
}
.say{
    text-align: right;
    margin-top: 2rem;
}
.sym{
    font-size: 7rem;
    line-height: 1rem;
    color: #e8e7e7;
    font-family: "Meie Script", cursive;
}
.footer{
    display: flex;
    background-color: #282828;
    height: 300px;
    color: #e8e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 0px 1px 0.3rem  rgb(0, 0, 0);
    justify-content: space-evenly;
    box-shadow: 0 -1px .3rem 0 rgba(0, 0, 0, 0.5);
}
.footer h3{
    font-size: 3rem;
}